// device
$mobile: 568px;
$pad: 768px;
$desktop: 960px;
$bigscreen: 1580px;

// color
$color-array: (
	main: #1976d2,
  text-main: #484A47,
  fff: #fff,
  main-2: #6F73D2,
  main-3: #83C9F4,
  option-1: #e21b3c,
  option-2: #1368ce,
  option-3: #d89e00,
  option-4: #26890c,
);

// layout
$header-height: 40px;