@keyframes loading {
  to {
    transform: translateY(-25px);

    opacity: 0.3;
  }
}

@keyframes show-system-message {
  0%,
  100% {
    transform: translateY(-100px);
  }
  25%,
  50%,
  75% {
    transform: translateY(50px);
  }
}