.teacher-finish {
  background: url('@/assets/images/teacher/exam/finish-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  text-align: center;
}