.history-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: $header-height + 40 40px 40px;

  &__title {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    .title-card {
      padding: 10px 20px;

      text-align: center;

      border: 1px solid #aaa;
      border-radius: 10px;

      & + .title-card {
        margin-left: 25px;
      }

      .text {
        margin-bottom: 10px;
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;

    border-bottom: 1px solid #aaa;
  }

  &__tab {
    width: 33%;

    transition: 0.3s;
    text-align: center;

    &:hover {
      font-weight: bold;

      color: #1976d2;
    }
  }

  
  &__content {
   padding-top: 20px; 
  }
}
