.history-detail {
	max-width: 1200px;
	margin: 0 auto;
	padding: $header-height + 40 40px 40px;

	a {
		text-decoration: none;
	}

	&__return {
		display: inline-flex;
		align-items: center;

		margin-bottom: 20px;
		padding: 10px;

		img {
			height: 24px;
		}
	}

	&__title {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;

		.title-card {
			display: flex;
			flex-direction: column;
			justify-content: center;

			box-sizing: border-box;
			min-width: 200px;
			min-height: 100px;
			padding: 0 20px;

			text-align: center;

			border: 1px solid #aaa;
			border-radius: 10px;

			& + .title-card {
				margin-left: 25px;
			}

			.text {
				margin-bottom: 10px;
			}

			.remark {
				&-title {
					display: flex;
					align-items: center;
					justify-content: center;

					margin-bottom: 10px;

					.text {
						margin: initial;
					}

					img {
						height: 20px;
					}
				}
			}
		}
	}

	&__tabs {
		display: flex;
		align-items: center;
		justify-content: center;

		padding-top: 30px;
		padding-bottom: 10px;

		border-bottom: 1px solid #aaa;
	}

	&__tab {
		position: relative;

		width: 33%;
		padding-bottom: 10px;

		transition: color 0.3s;
		text-align: center;

		&:hover,
		&.active {
			color: #1976d2;

			&::before {
				transform: translateX(-50%) scaleX(1);
			}
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 50%;

			width: 50%;
			height: 2px;

			content: '';
			transition: transform 0.3s;
			transform: translateX(-50%) scaleX(0);

			background-color: #1976d2;
		}
	}

	&__content {
		padding-top: 20px;
	}
}
