.home-page {
  padding-top: $header-height + 20;

  text-align: center;

  .home {
    &__title {
      margin-bottom: 10px;
    }

    &__movement-list {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      margin-top: 40px;

      a {
        text-decoration: initial;
      }
    }

    &__movement {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 60px;
      padding: 0 20px;

      border-radius: 10px;

      &--add {
        background-color: #255957;
        box-shadow: 1px 6px 8px 0 #144240;
      }

      &--old {
        background-color: #89043d;
        box-shadow: 1px 6px 8px 0 #62002a;
      }

      &--history {
        background-color: #5b6880;
        box-shadow: 1px 6px 8px 0 #313a4a;
      }
    }
  }
}
