.old-exam-page {
	padding: $header-height + 40 40px 40px;

	.old-exam {
		&-header {
			padding-bottom: 20px;
		}

		&-table {
			width: 100%;
			.table {
				&__title-tr,
				&__content-tr {
					width: 100%;
					height: 40px;

					border-bottom: 1px solid rgba(0, 0, 0, 0.12);
				}

				&__content-tr {
					&:hover {
						background-color: rgba(0, 0, 0, 0.3);
					}
				}

				&__title,
				&__content {
					line-height: 45px;

					width: 50%;

					text-align: center;
				}

				&__buttons {
					display: flex;
					align-items: center;
					justify-content: center;

					width: 100%;
					height: 45px;
				}

				&__button {
					display: flex;
					align-items: center;

					height: 30px;
					padding: 0 10px;

					cursor: pointer;
					transition: 0.3s;

					color: #fff;
					border-radius: 5px;

					& + .table__button {
						margin-left: 10px;
					}

					&--play {
						background-color: #26a69a;
						&:hover {
							background-color: #49dacb;
						}
					}

					&--edit {
						background-color: #1976d2;
						&:hover {
							background-color: #4599ec;
						}
					}

					&--delete {
						background-color: #c10015;
						&:hover {
							background-color: #f14458;
						}
					}
				}
			}
		}
	}

	.delete-data {
		text-align: right;
		&__button {
			display: inline-block;

			margin-bottom: 5px;
			padding: 10px;

			cursor: pointer;

			border-radius: 7px;
			background-color: #c10015;
		}
	}
}
