@import '@/assets/scss/abstracts/_variables.scss';
.enter-game {
  &__header {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  &__content {
    width: 60%;
    margin: 10px auto 0;
    text-align: center;

    .input__title {
      margin-bottom: 10px;
    }

    .input__field {
      font-size: 16px;

      box-sizing: border-box;
      width: 100%;
      height: 35px;
      padding: 0 10px;

      border: 1px solid map-get($color-array, 'text-main');
      border-radius: 5px;

      &:focus-visible {
        border: 1px solid map-get($color-array, 'main');
        outline: initial;
      }
    }

    .submit-button {
      margin: 40px auto 0;
      width: 150px;
      padding: 10px 0;
      background-color: #231F20;
      border-radius: 10px;
    }
  }
}