@import '@/assets/scss/abstracts/_variables.scss';

.edit-remark {
  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
  }

  &-container {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #fff;
  }

  &-inner {
    position: relative;

    padding: 30px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;

      width: 2px;
      height: 20px;

      content: '';

      background-color: #333;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    padding-bottom: 10px;
  }

  &__input {
    min-width: 200px;
    height: 40px;

    border: initial;
    border-bottom: 2px solid #000;

    &:hover,
    &:focus,
    &:focus-visible {
      border-color: map-get($color-array, 'main');
      outline: initial;
    }
  }

  &__button {
    margin-top: 20px;
    padding: 10px 0;

    text-align: center;

    border-radius: 10px;

    &:hover {
      opacity: 0.8;
    }
  }
}
