.question-detail-wrapper {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.6);

	.question-detail-container {
		overflow: auto;

		width: 85vw;
		height: 80vh;
		margin: 10vh auto;

		border-radius: 10px;
		background-color: #fff;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.question-detail {
		&__header {
			display: flex;
			align-items: center;
			justify-content: center;

			padding: 10px 20px;

			border-bottom: 2px solid rgba(0, 0, 0, 0.1);

			.question-name {
				display: flex;
				align-items: center;
				flex-grow: 1;
				justify-content: flex-start;

				&__icon {
					width: 24px;
					margin-right: 10px;
				}

				.question-title {
					padding-left: 5px;
				}
			}

			.pagination {
				display: flex;
				align-items: center;
				justify-content: center;

				.pages {
					padding: 0 5px;
				}

				.arrow {
					&-wrapper {
						padding: 0 5px;

						&--disabled {
							cursor: initial;
							pointer-events: none;

							opacity: 0.5;
						}
					}

					&__icon {
						width: 24px;
					}
				}
			}
		}

		&__content {
			box-sizing: border-box;
			padding: 20px;
		}
	}

	.options {
		.option {
			display: flex;
			align-items: center;
			justify-content: space-between;

			padding: 10px;

			border-bottom: 1px solid rgba(0, 0, 0, 0.15);

			&__text {
				display: flex;
				align-items: center;

				width: 60%;
				padding-right: 5px;
			}

			&__option-name {
				padding-right: 10px;
			}

			&__option-value {
				word-break: break-all;
			}

			&__answer-part {
				display: flex;
				align-items: center;

				width: 40%;
			}

			&__correct {
				img {
					width: 24px;
				}
			}

			&__progress-wrapper {
				box-sizing: border-box;
				width: 200px;
				margin-left: 10px;
			}

			&__progress {
				width: 50%;
				height: 6px;

				border-radius: 5px;
			}

			&--no-answer {
				.option__progress {
					background-color: #ccc;
				}
			}
		}
	}

	.informations {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		padding-top: 20px;

		.information {
			flex-grow: 1;

			box-sizing: border-box;
			margin: 0 5px;
			padding: 20px;

			border-radius: 5px;
			background-color: #ccc;
			box-shadow: rgba(0, 0, 0, 15%) 0 2px 4px 0;
		}
	}

	.brief-information {
		display: flex;

		.card {
			& + .card {
				margin-left: 10px;
			}
		}
	}
	.card {
		margin: 10px 0;
		padding: 20px;

		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 15%) 0 2px 4px 0;

		&__title {
			font-size: 24px;
			font-weight: bold;

			padding-bottom: 10px;

			text-align: center;

			color: #a3320b;
			border-bottom: 2px solid #e6af2e;
		}

		&__content {
			padding-top: 10px;

			text-align: center;
		}

		&--correct-percentage,
		&--student-amount,
		&--question-amount {
			box-sizing: border-box;
			width: 33%;
		}

		&--unfinish-student {
			box-sizing: border-box;
			width: 100%;
			.table {
				width: 100%;

				&__title-tr,
				&__content-tr {
					width: 100%;
					height: 40px;

					border-bottom: 1px solid rgba(0, 0, 0, 0.12);
				}

				&__title,
				&__content {
					line-height: 45px;

					width: 50%;

					text-align: center;
				}
			}
		}
	}

	.question__detail-table {
		width: 100%;

		&-wrapper {
			margin-top: 20px;

			border: 1px solid rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 15%) 0 2px 4px 0;
		}

		.table {
			&__title-tr,
			&__content-tr {
				width: 100%;
				height: 40px;

				border-bottom: 1px solid rgba(0, 0, 0, 0.12);
			}

			&__title,
			&__content {
				width: 25%;
				padding: 10px 0;

				text-align: center;
				vertical-align: middle;
			}

			&__buttons {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 100%;
				height: 45px;
			}

			&__button {
				display: flex;
				align-items: center;

				height: 30px;
				padding: 0 10px;

				cursor: pointer;
				transition: 0.3s;

				color: #fff;
				border-radius: 5px;

				& + .table__button {
					margin-left: 10px;
				}

				&--play {
					background-color: #26a69a;
					&:hover {
						background-color: #49dacb;
					}
				}

				&--edit {
					background-color: #1976d2;
					&:hover {
						background-color: #4599ec;
					}
				}

				&--delete {
					background-color: #c10015;
					&:hover {
						background-color: #f14458;
					}
				}
			}
		}
	}
}
