.answer-question {
	&__question-part {
		flex-shrink: 0;

		box-sizing: border-box;
		padding-top: 20px;

		text-align: center;
	}

	&__other-features {
		position: relative;

		display: flex;
		align-items: center;
		flex-grow: 1;

		padding: 20px;

		.answered-player-list-wrapper {
			flex-grow: 1;

			margin-right: 10px;
		}

		.times-up-part {
			position: absolute;
			top: 10px;
			left: 0;

			display: flex;
			align-items: center;

			width: 100%;
			height: calc(100% - 10px);

			background-color: rgba(0, 0, 0, 0.8);

			.next-button {
				flex-shrink: 0;

				margin-right: 15px;
				padding: 30px 15px;

				border-radius: 10px;
				background-color: #2c9f8d;

				box-shadow: 1px 6px 8px 5px rgb(16, 56, 54);
			}
		}
	}

	&__options {
		display: grid;
		flex-shrink: 0;

		grid-template-columns: repeat(1, 1fr 1fr);

		.option {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: flex-start;

			min-height: 20vh;
			padding: 0 10px;

			border: 1px solid #fff;

			&.is-not-correct {
				opacity: 0.3;
			}

			&__symbol {
				box-sizing: border-box;
				padding-top: 10px;
			}

			&__text {
				padding: 10px;

				text-align: center;
			}
		}
	}
}
