.history-players {
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 15%) 0 2px 4px 0;

	&-table {
		width: 100%;

		.table {
			&__title-tr,
			&__content-tr {
				width: 100%;
				height: 40px;

				border-bottom: 1px solid rgba(0, 0, 0, 0.12);
			}

			&__title,
			&__content {
				width: 25%;
				padding: 10px 0;

				text-align: center;
				vertical-align: middle;
			}

      &__content-tr {
        &:hover {
          background-color: #ccc;
        }
      }

			&__buttons {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 100%;
				height: 45px;
			}

			&__button {
				display: flex;
				align-items: center;

				height: 30px;
				padding: 0 10px;

				cursor: pointer;
				transition: 0.3s;

				color: #fff;
				border-radius: 5px;

				& + .table__button {
					margin-left: 10px;
				}

				&--play {
					background-color: #26a69a;
					&:hover {
						background-color: #49dacb;
					}
				}

				&--edit {
					background-color: #1976d2;
					&:hover {
						background-color: #4599ec;
					}
				}

				&--delete {
					background-color: #c10015;
					&:hover {
						background-color: #f14458;
					}
				}
			}
		}
	}
}
